@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}
<div id="container">
    <div class="page-header text-center">
        <h1>Welcome</h1>
    </div>
</div>
